.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15.625rem;
  padding: 0 0 1.25rem;
  z-index: 1000;
  transform: translateX(0);
  background-color: var(--bs-secondary-bg);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  display: none;
}

.sidebar--active {
  transform: translateX(0);
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 900;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  background-color: var(--bs-tertiary-bg);
}

.nav-link {
  color: var(--bs-body-color);
}

.nav-link:hover {
  background-color: var(--bs-dark-bg-subtle);
}

.nav-link--active,
.nav-link--active:hover {
  background-color: var(--bs-primary-bg-subtle);
}

@media (max-width: 767px) {
  .sidebar-toggle {
    display: block;
  }
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar--active {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .header,
  .main,
  .footer {
    padding-left: 260px;
  }
}
